.spinner {
  background: center center url(./images/spinner.gif);
  background-repeat: no-repeat;
  background-size: 42px;
  min-height: 400px;
  width: 100%;
  text-align: center;
}

.content-container {
  display: flex;
}

.settings-container {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  padding: 10px;
}

.label-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
  min-width: 180px;
}

.slider-column {
  flex: 3;
  display: flex;
  align-items: center;
}

.settings-container .r-segmented-control {
  border-bottom: 0;
}

.settings-container .r-segmented-control > ul {
  padding: 0;
}
